<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gabriele Cinà - Scopri quanto sei ipnotizzabile!</title>
	<base href=".">
	<link href="https://fonts.googleapis.com/css?family=Heebo:400,700|Oxygen:700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<body class="is-boxed has-animations">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 350 1200" width="0" height="0">
		<defs>
			<clipPath id="svgPath">
				<path d="M475.52,511.07q0,230.07,0,460.14c0,20.5-14.6,41.08-34.26,47.19a88.62,88.62,0,0,1-26.15,3.85c-56.18.23-112.36.08-168.54.13-62.49.06-125,.41-187.49.17-14.11,0-28.28-2.18-39.78-11.62-4.1-3.37-7.5-7.76-10.62-12.11C2,989.52-.09,978.86,0,967.53c.22-25.45.22-50.91.21-76.36Q.15,615,.06,338.91,0,194.52.13,50.13c0-10,4.09-18.91,9.28-27.32C16.57,11.22,27.69,5.42,40.32,2.32a82.63,82.63,0,0,1,17.92-2C71.79.06,85.35.21,98.91.26c8.46,0,13.32,5,13.31,13.42,0,12.08,7.88,21.76,19.36,23.72a96.81,96.81,0,0,0,15.64,1.54c27.51.15,55,.07,82.52.07,35,0,70,.09,105-.07,7.25,0,14.41-1.79,20.18-6.42a21.35,21.35,0,0,0,8.47-17.71c-.22-6.1,1.42-10.69,7.17-13.17a15.47,15.47,0,0,1,5.9-1.33c14.72-.11,29.48-.7,44.16.11C436,1.28,450.92,4.68,461.88,17a49.24,49.24,0,0,1,11.8,22.57,92.49,92.49,0,0,1,1.88,18.71q.12,129.66,0,259.34Q475.5,414.36,475.52,511.07Zm-471,.41q0,225.6,0,451.18c0,8.51.55,16.79,4.11,24.77,4.52,10.16,10.86,18.33,20.87,23.72,9.83,5.31,20.59,6.88,31.18,6.9q177.6.3,355.21-.19a62.85,62.85,0,0,0,16-1.72c12.17-3.27,23.09-8.45,30.37-19.85,5.4-8.46,8.89-17.33,8.89-27.17q.17-324,.08-648,0-130.63.07-261.25c0-7-.45-13.89-2.84-20.48-4.32-11.88-10.82-21.86-22.71-27.8C436.61,7,426.92,5.45,417.15,4.88c-11.84-.7-23.75-.17-35.63-.17-10.28,0-13.44,3.2-13.62,13.44A23.5,23.5,0,0,1,359.31,36c-6.44,5.46-14.5,7.5-23,7.51q-51.89,0-103.79,0c-28.66,0-57.33.09-86-.08A142.27,142.27,0,0,1,129,41.83c-12.22-1.58-21.66-13.36-21.27-25.75.23-7.29-4-11.35-11.36-11.36-12.27,0-24.54-.17-36.8.07A68,68,0,0,0,43.94,6.51c-12.68,3.29-24.13,8.7-31,20.84-4.61,8.11-8.32,16.58-8.33,26q-.15,143.4-.06,286.8Z"/><path d="M4.44,511.48V340.16q0-143.4.06-286.8c0-9.43,3.72-17.9,8.34-26,6.9-12.14,18.35-17.55,31-20.84A68.05,68.05,0,0,1,59.49,4.79c12.26-.24,24.53-.1,36.8-.07,7.37,0,11.59,4.07,11.36,11.36-.39,12.39,9,24.17,21.27,25.75A142.25,142.25,0,0,0,146.5,43.4c28.66.17,57.33.08,86,.08q51.88,0,103.78,0c8.46,0,16.53-2,23-7.51a23.5,23.5,0,0,0,8.59-17.81C368,7.91,371.18,4.71,381.45,4.71c11.88,0,23.8-.53,35.63.17,9.77.57,19.46,2.12,28.54,6.66,11.88,5.93,18.37,15.9,22.69,27.75a49.25,49.25,0,0,1,2.87,17q-.17,132.41-.08,264.81,0,324-.08,648.05c0,9.84-3.49,18.71-8.89,27.17-7.28,11.4-18.2,16.58-30.37,19.85a62.85,62.85,0,0,1-16,1.72q-177.6.3-355.21.19c-10.59,0-21.35-1.59-31.18-6.9-10-5.39-16.35-13.56-20.87-23.72-3.56-8-4.11-16.26-4.11-24.77Q4.47,737.08,4.44,511.48Z"/><polyline points="231.47 4.52 377.86 4.88 96.29 4.72"/><rect x="82.24" y="4.88" width="309.62" height="70.01"/>
			</clipPath>
		</defs>
	</svg>
    <div class="body-wrap boxed-container">
        <header class="site-header text-light">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="#">
								<!-- Logo -->
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <section class="hero text-center text-light" style="padding-bottom: 1.5em">
				<div class="hero-bg">
					<div class="hero-container">
						<img class="gabry-hero" src="/images/gabry-ipnotista.png" alt="Gabry Ipnotista">
						<img class="gabry-hero2" src="/images/gabry-ipnotizzato.png" alt="Gabry Ipnotizzato">
					</div>
				</div>
				<div class="hero-particles-container">
					<canvas id="hero-particles"></canvas>
				</div>
				
                <div class="container-sm">
                    <div class="hero-inner">
						<div class="hero-copy">
	                        <h1 class="hero-title mt-0">
								Scopri quanto<br>
								sei ipnotizzabile<br>
								in pochi secondi.
							</h1>
	                        <p class="hero-paragraph">
								4 persone su 5 sono facilmente ipnotizzabili. Non ci credi?
							</p>
	                        <div class="hero-cta">
								<form action="https://gmail.us2.list-manage.com/subscribe/post?u=753fe3bcde160a4b095157a7d&amp;id=c054cd42e8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
									<input placeholder="scrivi il tuo nome" class="button button-wide-mobile" style="margin-bottom: 1em; text-transform: none;" type="text" value="" name="FNAME" class="" id="mce-FNAME" required />
									<input placeholder="la tua migliore mail" class="button button-wide-mobile" style="margin-bottom: 1em; text-transform: none;" type="email" value="" name="EMAIL" id="mce-EMAIL" required />
									<div>
										<button type="submit" class="button button-primary button-wide-mobile" href="#">Ricevi il test</button>
									</div>
									<div id="mce-responses" class="clear">
										<div class="response" id="mce-error-response" style="display:none"></div>
										<div class="response" id="mce-success-response" style="display:none"></div>
									</div>	
								</form>
							</div>
							<h1 class="hero-title mt-0" style="margin-top: 3em;">
								Non mi conosci?
							</h1>
	                        <p class="hero-paragraph" style="margin-bottom: 1em;">
								Scopri come faccio<br>
								a <b>stupire chiunque</b><br>
								con l'ipnosi.
							</p>
						</div>
                    </div>
                </div>
            </section>

			<section class="features-extended section">
                <div class="features-extended-inner section-inner">
					<div class="features-extended-wrap">
						<div class="container">
							<div class="feature-extended">
								<div class="feature-extended-image">
									<div class="mockup-bg">
										<img src="/images/iphone-feature-bg-01.svg" alt="iPhone Feature 01 illustration">
									</div>
									<img class="device-mockup" src="/images/iphone-hero.png" style="pointer-events: none;" alt="iPhone Feature 01">
									<div class="wrapper-secondary">
										<div class="js-lazytube video2 scaled-frame2" width="350px" height="696px" data-embed="iQKiFbDKLlE" style="-webkit-clip-path: url(#svgPath); clip-path: url(#svgPath); clip-path: view-box;" frameborder="0"></div>
									</div>
								</div>
								<div class="feature-extended-body">
									<h2 class="mt-0 mb-16"><span style="color: #4234F8">Tutti mi conoscono</span><br>
										come gabrycina..</h2>
									<p class="mt-0"><b>Prima ero un mago</b>, facevo magia con le carte e
										amavo far riemergere il bambino dentro ognuno di noi.</p>

									<p class="mt-0">Poi ho scoperto la potenza dell’ipnosi, la possibilità
									di far vivere <b>un viaggio senza alcuno stupefacente</b>.</p>
									
									<p class="mt-0">Posso farti vedere un drago, dimenticare il tuo
									nome, <br><b>ma anche farti stare meglio</b>!</p>
									<div style="display: flex; align-items: center; justify-content: center;">
										<a class="button button-primary button-wide-mobile" style="margin-top:2em; margin-right: 0; z-index:2" href="#">Non ci credi? Prova</a>
									</div>
								</div>
								
							</div>
							<div class="feature-extended">
								<div class="feature-extended-image">
									<div class="mockup-bg">
										<img src="/images/iphone-feature-bg-02.svg" alt="iPhone Feature 02 illustration">
									</div>
									<img class="device-mockup" src="/images/iphone-hero-purple.png" style="pointer-events: none;" alt="iPhone Feature 02">
									<div class="wrapper-secondary">
										<img class="screen scaled-frame3" src="/images/screenshotTiktok.jpg" alt="TikTok Screenshot">
									</div>
								</div>
								<div class="feature-extended-body">
									<h3 class="mt-0 mb-16">...su TikTok, <br><span style="color: #4234F8">ipnotizzo la gente</span>.</h3>
									<p class="mt-0">Sono partito da zero, <br><b>senza alcuna magia</b>.</p>
										<p class="mt-0">In pochissimi mesi i miei video sono<br>stati visti
										da <b>più di 50 milioni di persone</b>.</p>
										<p class="mt-0">Ma sono rimasto <b>il gabrycina di sempre</b>,
										anche se oggi il canale conta<br>circa 400.000 iscritti.</p>
								</div>
							</div>
							<div class="feature-extended">
								<div class="feature-extended-image">
									<div class="mockup-bg">
										<img src="/images/iphone-feature-bg-03.svg" alt="iPhone Feature 03 illustration">
									</div>
									<img class="device-mockup" src="/images/iphone-hero-coral.png" style="pointer-events: none;" alt="iPhone Feature 03">
									<div class="wrapper-secondary">
										<div class="js-lazytube video2 scaled-frame2" width="350px" height="696px" data-embed="iQKiFbDKLlE" style=" -webkit-clip-path: url(#svgPath); clip-path: url(#svgPath); clip-path: view-box;" frameborder="0"></div>
									</div>
								</div>
								<div class="feature-extended-body">
									<h3 class="mt-0 mb-16">Ma puoi seguirmi<br>
										<span style="color: #4234F8">anche su Instagram</span>..</h3>
									<p class="mt-0">La mia prima casa, <b>la grande scommessa</b>.</p>
									<p class="mt-0">Ricordo ancora il primo post, avevo paura
										di non piacere, ma volevo <b>essere me stesso</b>.</p>
									<p class="mt-0">Lo guardavo, lo fissavo, sembravo ipnotizzato (io).</p>
									<p class="mt-0">E invece sono riuscito a «ipnotizzare» più di 13.000
										persone, non follower.. <b>persone che mi seguono
										con passione supportandomi ogni giorno</b>. </p>
								</div>
							</div>
							<div class="feature-extended">
								<div class="feature-extended-image">
									<div class="mockup-bg">
										<img src="/images/iphone-feature-bg-04.svg" alt="iPhone Feature 04 illustration">
									</div>
									<img class="device-mockup" src="/images/iphone-hero-blue.png" style="pointer-events: none;" alt="iPhone Feature 04">
									<div class="wrapper-secondary">
										<div class="js-lazytube video2 scaled-frame2" width="350px" height="696px" data-embed="iQKiFbDKLlE" style=" -webkit-clip-path: url(#svgPath); clip-path: url(#svgPath); clip-path: view-box;" frameborder="0"></div>
									</div>
								</div>
								<div class="feature-extended-body">
									<h3 class="mt-0 mb-16">..mi sorprendo ogni
										giorno, <span style="color: #4234F8">grazie a voi</span>.</h3>
									<p class="mt-0">Prima dei numeri, <b>metto le persone</b>.</p>
									<p>Incontro ragazzi e ragazze straordinarie,
									<b>pronti a tutto per inseguire i loro sogni</b>.</p>
									<p>Mi perdo nei DM, messaggio e ascolto in silenzio.
									Mi piace saziare <b>la loro curiosità verso il mio mondo</b>, l’ipnosi.</p>
									<p>Se tutto questo mi gasa così tanto è grazie a Voi.</p>
								</div>
							</div>
						</div>
					</div>
                </div>
            </section>
        </main>

		<footer class="site-footer">
			<div class="footer-particles-container">
				<canvas id="footer-particles"></canvas>
			</div>
			<div class="site-footer-top">
				<section class="cta section text-light">
					<div class="container-sm">
						<div class="cta-inner section-inner">
							<div class="cta-header text-center">
								<h2 class="hero-title mt-0">E ora? Ti piacerebbe provare l'ipnosi?</h2>
								<p class="hero-paragraph">Scopri quanto sei ipnotizzabile in pochi secondi.</p>
								<div class="hero-cta">
									<form action="https://gmail.us2.list-manage.com/subscribe/post?u=753fe3bcde160a4b095157a7d&amp;id=c054cd42e8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
										<input placeholder="scrivi il tuo nome" class="button button-wide-mobile" style="margin-bottom: 1em; text-transform: none;" type="text" value="" name="FNAME" class="" id="mce-FNAME" required>
										<input placeholder="la tua migliore mail" class="button button-wide-mobile" style="margin-bottom: 1em; text-transform: none;" type="email" value="" name="EMAIL" id="mce-EMAIL" required>
										<div>
											<button type="submit" class="button button-primary button-wide-mobile" href="#">Scoprilo Ora</button>
										</div>
										<div id="mce-responses" class="clear">
											<div class="response" id="mce-error-response" style="display:none"></div>
											<div class="response" id="mce-success-response" style="display:none"></div>
										</div>	
									</form>
								</div>
								<p class="hero-paragraph" style="margin-top: 1.5em;">..e ricevi <span style="color:rgba(255, 255, 255, 0.904)"><b>il mio test</b></span> per scoprire quanto sei ipnotizzabile!</p>	
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="site-footer-bottom">
				<div class="container">
					<div class="site-footer-inner" style="text-align: center;">
						<p class="hero-title mt-0" >P.S. chiedo scusa per i termini da markettaro. <br> Mi perdoni?</p>
					</div>
					<div style="text-align: center; position: relative; display: flex; justify-content: center; margin-bottom: 4em;">
						<a href="https://www.iubenda.com/privacy-policy/82157124" class="iubenda-black iubenda-embed" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
					</div>
				</div>
			</div>
        </footer>
    </div>
    <script src="/js/bundle.js"></script>
</body>
</html>
